<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita acceso a tus fotos para que puedas adjuntar imágenes al chat.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicación necesita acceso para guardar imágenes.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Esta aplicación necesita acceso a tus documentos para seleccionar proyectos.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Esta aplicación necesita acceso a tus descargas para seleccionar proyectos.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu escritorio para leer y editar archivos de proyectos.</string>
	<key>NSUserSelectedFileUsageDescription</key>
	<string>Esta aplicación necesita acceso a los archivos que selecciones para trabajar con tu proyecto.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Esta aplicación necesita acceso a eventos de automatización para ejecutar comandos y scripts.</string>
</dict>
</plist>
